<%= form_for(@person) do |f| %>
<fieldset class="form-list">
	<legend>Person</legend>

  <% if @person.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>
    <ul>
    <% @person.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <table>
    <tr class="field">
      <th><%= f.label :name %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :location %></th>
      <td><%= f.text_field :location %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :status %></th>
      <td><%= f.text_field :status %></td>
    </tr>
    </table>
    
  <div class="actions">
    <%= f.submit %>
  </div>
</fieldset>
      
<% end %>
