<h1>Listing stages</h1>
<div class="index-list">
	<div class="actions">
    <%= link_to 'New Stage', new_stage_path %>
	</div>

  <table>
    <tr class="list-header">
        <th>ID</th>
        <th>Name</th>
        <th>Commitment</th>
        <th>Actions</th>
    </tr>

  <% @stages.each do |stage| %>
    <tr>
      <td><%= stage.id %></td>
      
        <td><%= stage.name %></td>
        <td><%= stage.commitment_id %></td>
        <td>
        <%= link_to 'Show', stage %>
        <%= link_to 'Edit', edit_stage_path(stage) %>
        <%= link_to 'Destroy', stage, :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end %>
  </table>
</div>

