<p class="notice"><%= notice %></p>
<fieldset class="show-list">
	<legend>Stage</legend>
  	<table>
	    <tr>
      <th>Name:</th>
      <td><%= @stage.name %><td>
    </tr>

	    <tr>
      <th>Commitment:</th>
      <td><%= @stage.commitment_id %><td>
    </tr>

		</table>
</fieldset>
<div class="actions">
	<%= link_to 'Edit', edit_stage_path(@stage) %> |
	<%= link_to 'Back', stages_path %>
</div>
<div class="relations">
	<div id="related">
	</div>
</div>
