<!DOCTYPE html>
<html>
<head>
  <title>GolfGaggle</title>
  <%= stylesheet_link_tag "screen" %>
  <%= javascript_include_tag :defaults %>
    
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">&nbsp;</div>
    <div id="navbar">
<%= link_to "Assessments", assessments_path %> |
<%= link_to "People", people_path %> |
<%= link_to "Assessors", assessors_path %> |
<%= link_to "Scores", scores_path %> |
<%= link_to "Stages", stages_path %> |
<%= link_to "Candidates", candidates_path %>
</div>
    <div id="content">
      <%= yield %>
    </div>
    <div id="footer">&nbsp;</div>
  </div>
  

</body>
</html>
